out/
.idea/*
.idea/misc.xml
.idea/workspace.xml
/Alkatresz.class
/AlkatreszFactory.class
/Buvarruha.class
/Elelem.class
/Epulet.class
/Eszkimo.class
/Eszkoz.class
/EszkozFactory.class
/Iglu.class
/Instabil.class
/Jegmezo.class
/JegmezoFactory.class
/Jelzofeny.class
/Kotel.class
/Lapat.class
/Lyuk.class
/Main.class
/Mezo.class
/MezoFactory.class
/Palya.class
/Patron.class
/Pisztoly.class
/Sarkkutato.class
/SkeletonTesterClass.class
/Stabil.class
/Szereplo.class
/SzereploFactory.class
/Targy.class
/TargyFactory.class
/Tenger.class
/Vezerlo.class
/Comparator.class
/Interpreter.class
/ProtoTester.class
/IKarakter.class
/ITargy.class
/IEpulet.class
/Jegesmedve.class
/TorekenyLapat.class
/Sator.class
/KarakterFactory.class
/JegvarazsListener.class
